@*<section style="width: 200px; height: 200px; background-color: #66cdaa">
    </section>*@
<div class="col-md-12" style="min-height: 600px; border: 1px solid white; padding: 0px">
    <div style="min-height: 300px; border: 1px solid white">
        <div style="min-height: 25px;">
            <center><p style="font-family: Arial; font-size: 14px; color: #000000; padding-top: 10px"><b>BIỂU ĐỒ DIỄN BIẾN LƯU LƯỢNG ĐẾN HỒ</b></p></center>
        </div>
        <div id="chartDungTich" style="min-height: 235px; border: 1px solid white">

            @*biểu đồ*@

        </div>
        <div id="legendDungTich" style="min-height: 40px;">

            @*chú thích*@

        </div>
    </div>

    <div style="min-height: 300px; border: 1px solid white">
        <div style="min-height: 25px">
            <center><p style="font-family: Arial; font-size: 14px; color: #000000; padding-top: 10px"><b>BIỂU ĐỒ DIỄN BIẾN MỰC NƯỚC HỒ</b></p></center>
        </div>
        <div id="chartMucNuoc" style="min-height: 235px; border: 1px solid white">

            @*biểu đồ*@

        </div>
        <div id="legendMucNuoc" style="min-height: 40px; ">

            @*chú thích*@

        </div>
    </div>
</div>
