@{
    Layout = null;
}


<link href="@Url.Content("~/Content/style-login.css")" rel="stylesheet" type="text/css" />
<div class="login">
    <div class="login-box1">
        <div class="login-top">
            <div class="logo"><img src="~/Images/logopctt.png" alt="" style="width:64px;"></div>
            <h1><span style="color:white; font-size:26px">VẬN HÀNH LIÊN HỒ</span></h1>
            <div class="clear"></div>
        </div>
        <div class="login-line1" style="width:auto; height:5px"></div>
        
        @*<form>*@
            <div class="login-bottom">

                <input id="usName" name="usName" type="text" placeholder="Tên đăng nhập" />
                <input id="paWord" name="paWord" type="password" placeholder="Mật khẩu" onkeydown="if (event.keyCode == 13) { EOFn.LoginSystem(); return false; }" />
                <div class="nowb">

                    <input onclick="EOFn.LoginSystem();" id="login" type="button" value="Đăng nhập" style="width:100%;">
                </div>

            </div>
        @*</form>*@
        <div class="login-line2" style="width:auto; height:40px"></div>
    </div>
</div>

<script src="~/Scripts/login/jquery-1.js" type="text/javascript"></script>
<script src="~/Scripts/login/jquery.confirm.js"></script>
<script src="~/Scripts/login/login.js"></script>